.panel {
	margin-bottom: $base;
	border: $border;
	background: $color-paper;
	}
	
.caption {
	margin: $base;
	border: $border;
	padding: 12px 12px 11px;
	background: $color-caption;
	text-align: center;
	}
	
