nav ul {
	padding: 0; margin: 0; 
	float: right; 
	padding: 14px $base 9px 0; 
	}
	@include max-screen($tablet)  { nav ul {margin: $base auto; width: auto; float: none; text-align: center;} }

	nav ul br {display: none;}
		@include max-screen($phone)  { nav ul br {display: inline;} }


nav li {display: inline-block; margin-left: 23px; vertical-align: middle;}
		@include max-screen($phone)  { nav ul li {margin: 10px 0 10px 23px;} }

nav a {
	text-decoration: none; 

	font-family: "badaboom-pro"; font-style: italic;
	font-size: 23px;
	letter-spacing: 1px; 

	@include prefixer(transition-duration, .75s, webkit moz o ms spec);
	}
	nav a:hover {
		text-shadow: -2px 1px 0 $color-brand_main; 
		color: $color-brand_two; 

		@include prefixer(transition-duration, 0s, webkit moz o ms spec);
		}