// INDEX
.index .wrapper {
	background: url('../img/credits-bg-test2.jpg') no-repeat center center;
	background-size: cover;
	}


// CREDITS	
.credits .wrapper {
	background: $color-brand_two;
}

.credits .credits {color: $color-gray; box-shadow: none; cursor: default; pointer-events: none;}