// BACKGROUNDS

	// Red	
	.wrapper {background: $color-brand_two;}

	// Clouds
	.index .wrapper,
	.week1 .wrapper,
	.week2 .wrapper,
	.week3 .wrapper,
	.week4 .wrapper,
	.week5 .wrapper,
	.week6 .wrapper,
	.week7 .wrapper {
		background: url('../img/credits-bg-test2.jpg') no-repeat center center;
		background-size: cover;
		}
	
	

// ARCHIVE

	/* Week 1 - e2: teaser */
	
	.week1 .e2 {
		background: url('../img/e2-kat.jpg') no-repeat center left;
		background-size: cover;
		}
 	
	.week1 .e2 .play {
		width: 45%; margin: 23px;
		padding: 12px 2% 11px;
	 	}
	 	
	.week1 .e2 .caption-1,
	.week1 .e2 .caption-2 {
		position: absolute;
		bottom: 0;
		}
		
	.week1 .e2 .caption-1 {width: 30%;}
	.week1 .e2 .caption-2 {width: 40%; right: 0;}
	
	/* Week 2 - e3: teaser */
	
	.week2 .e3 {
		background: url('../img/e3-teaser.jpg') no-repeat center center;
		background-size: cover;
		}
	
	/* Week 3 - e4: teaser */
	
	.week3 .e4 {
		background: url('../img/e4-teaser.jpg') no-repeat center center;
		background-size: cover;
		}
		.week3 .e4 .play {
			position: absolute; 
			bottom: $base; 
			margin: 0; 
			left: 12%; 
			width: 72%; 
			color: $color-black; 
			background: $color-paper; 
			border-radius: 200px;
			}
			.week3 .e4 .play:before,
			.week3 .e4 .play:after {
				content: '';
				display: block; 
				position: absolute; 
				border: $border; 
				background: $color-paper;
				border-radius: 100px;
				}
				.week3 .e4 .play:before {
					width: $base; height: $base;
					top: -5px;
					right: -5px;
					}
				.week3 .e4 .play:after {
					width: $base / 2; height: $base / 2;
					top: -20px;
					right: -10px;
					}
	
	/* Week 4 - e5: teaser */
	.week4 .e5 {
		background: url('../img/e5-teaser.jpg') no-repeat center center;
		background-size: cover;
		}
		.week4 .e5 .caption {position: absolute; width: 20%; z-index: 10}
		.week4 .e5 .play {position: absolute; z-index: 1; bottom: 0; left: 22%; width: 40%;}
	
	
	/* Week 5 - e6: teaser */
	.week5 .e6 {	
		background: url('../img/e6-teaser.jpg') no-repeat center center;
		background-size: cover;
		}
		.week5 .e6 .caption {position: absolute; width: 20%; z-index: 10}
		.week5 .e6 .play {position: absolute; z-index: 1; bottom: 0; left: 22%; width: 40%;}

	/* week 6 -  e7: teaser */
	.e7 {	
		background: url('../img/e7-teaser.jpg') no-repeat center center;
		}		
		.e7 .caption {position: relative; top: 60px; width: 50%;}
		.e7 .play {position: absolute; z-index: 10; bottom: $base; left: 12%; width: 72%; margin: 0;}


