.sequence {
  border: $border;
  height: 345px;
  margin: 10px auto;
  position: relative;
  overflow: hidden;
  -webkit-backface-visibility: hidden;/* prevent graphical glitches in WebKit browsers when using transitions */
}

.sequence ul {margin: 0; padding: 0; list-style: none;}

#sequence > ul li > * {position: absolute; /* required */ display: block;}

.sequence #sequence-preloader {background: white;}


	.sequence .animate-in .panel1, 
	.sequence .animate-out .panel1 {@include prefixer(transition-duration, 3s, webkit moz o ms spec);}

	.sequence .panel1 								{right: -300px; bottom: -300px;}
		.sequence .animate-in .panel1 	{right: -10px; 	bottom: -10px;}
		.sequence .animate-out .panel1 	{right: -10px; 	bottom: -10px;}
			
			.sequence .panel1 .e1-annie {height: 100%;}
	
	
	.sequence .animate-in .panel2, 
	.sequence .animate-out .panel2 {@include prefixer(transition-duration, 1.5s, webkit moz o ms spec);}

	.sequence .panel2 {
		background: black;
	  width: 100%; height: 100%;
	  opacity: 0.2
	  }	
		.sequence .animate-in .panel2 {opacity: 1;}
			.sequence .animate-out .panel2 {opacity: 0.2;}


