// Measurements
$base: 23px;

// Colors
$color-paper: 	#f7f5f0;
$color-black: 	black;
$color-caption: $color-paper;
// $color-caption: #fbf9ad;

	// Brand
	$color-brand_main: 	#fada31;
	$color-brand_two: 	#ea0b0c;

// Borders (Design Elements?)
$border: 3px solid $color-black;
