// Measurements
$base: 23px;

	// Breakpoints
	$desktop: 940px;
	$tablet: 768px;
	$phone: 480px;

// Colors
$color-paper: 	#f7f5f0;
$color-black: 	black;
$color-caption: #fff9b7;
$color-gray: 		#999;

	// Brand
	$color-brand_main: 	#fada31;
	$color-brand_two: 	#ea0b0c;

// Borders (Design Elements?)
$border: 3px solid $color-black;
