h1 {color: $color-brand_main;}

a {color: $color-black;}


body {background: url('../img/bg/deepwoodtile.jpg') repeat top left;}

		
	.comic_panel {
		border: $border;
		position: relative;
		margin-bottom: 23px;
		min-height: $base * 26;
		background: $color-caption;
		}
		
	.comic_caption {
		padding: 20px;
		background: $color-caption;
		}
		.comic_caption :last-child {margin-bottom: 0;}
		
		.comic_panel.tall  {min-height:$base * 27;}
		.comic_panel.short {min-height:$base * 19;}

	img {width: 100%;}

	

		

// helpers
	.border-top 		{border-top: 		$border;}
	.border-right 	{border-right: 	$border;}
	.border-bottom 	{border-bottom: $border;}
	.border-left 		{border-left: 	$border;}
	


/* common */
.panel {
	position: relative; 
	height: $base * 15; 
  -webkit-backface-visibility: hidden;/* prevent graphical glitches in WebKit browsers when using transitions */
	}

	.panel:hover a.play {border-color: $color-paper;}
	.panel a.play:hover {background: $color-paper; color: $color-black;}
	
			@include max-screen($phone)  { 
				.index .caption {display: none;}
				.index .panel {overflow: hidden;}
				.index .play {width: 100% !important; left: 0; padding: 23px 0; border-radius: 0; top: 347px;}
				.index .panel:hover .play {border-color: $color-black;}
				}




/* e1 */
.e1 {
  overflow: hidden;
  background: transparent;
  margin-top: -50px;
  border: none; border-bottom: $border; height: 420px;
  }

	.e1 .e1-annie,
	.e1 .e1-blink,
	.e1 .caption,
	.e1 .play {position: absolute;}
	
	.e1 .e1-annie, 
	.e1:hover .e1-annie {@include prefixer(transition-duration, 1s, webkit moz o ms spec);}
	
		.e1 .e1-annie 			{z-index: 10; width: auto; height: 420px; right: -60px; bottom: 0px;}
		.e1:hover .e1-annie {bottom: -100px;}
	
	
	.e1 .e1-blink, 
	.e1:hover .e1-blink {@include prefixer(transition-duration, 1s, webkit moz o ms spec);}
		
		.e1 .e1-blink {z-index: 20; opacity: 0; width: 100%; height: 370px; top: 50px; background: black;}
			.e1:hover .e1-blink {opacity: 1;}
	
	
	.e1 .caption {z-index: 30; width: 25%; margin-top: 73px;}
	
	
	.e1 .play {
		z-index: 40;
		top: 200px; margin: 0;
		left: 33%;
		width: 30%;
		}				

.e1 .false-border-top, 
.e1 .false-border-bottom {
	position: absolute;
	display: block;
	border: $border;
	border-bottom: none;
	box-sizing: border-box;
	width: 100%;
	height: 370px; top: 50px;
	}

.e1 .false-border-top {z-index: 5;}

.e1 .false-border-bottom {border-top: none; z-index: 15;}



/* e2 - live */
.e2 {
	background: url('../img/e2-jon.png') no-repeat center center;
	}
	.e2:hover {
		background: url('../img/e2-jon2.png') no-repeat center center;
		}

.e2 .play {
	width: 50%; margin: 23px auto;
	position: relative;
	top: $base * 10;
 	}
 
 .e2 .caption {width: 20%; position: absolute; top:0;}


/* e3 - live */
.e3 {
	background: url('../img/e3-drawing-bottom.jpg') no-repeat center center;
	}
	.e3-drawing-top {
		position: absolute;
		width: 100%; height: 100%;
		z-index: 5;
		top: 0;
		background: url('../img/e3-drawing-top.jpg') no-repeat center center;
		@include prefixer(transition-duration, 2s, webkit moz o ms spec);
		}
		.e3:hover .e3-drawing-top {opacity: 0;}
	.e3 .caption {position: relative; z-index: 10; width: 40%;}
	.e3 .play {position: absolute; z-index: 10; bottom: $base; left: 12%; width: 72%;}


/* e4 - live */ 
.e4 {
	background: url('../img/e4-kat.jpg') no-repeat center center;
	}
	.e4:hover {background: url('../img/e4-jon.jpg') no-repeat center center;}
	.e4 .caption {position: absolute; right: 0;}
	.e4 .play {position: absolute; z-index: 10; bottom: $base; left: 12%; width: 72%;}


/* e5 - live */

.e5 {
	background: url('../img/e5-liveB.jpg') no-repeat center center;
	}
	.e5 .caption {position: absolute; width: 20%; z-index: 150}
	.e5 .play {position: absolute; z-index: 160; bottom: $base; left: $base; width: 40%;}

	.e5 .zoom,
	.e5 .overlay {
		width: 100%;
		height: $base * 15;
		position: absolute; 
		top: 0;
		@include prefixer(transition-duration, 1s, webkit moz o ms spec);
		}
		
	.e5 .zoom {
    opacity: 0;

		background: -moz-linear-gradient(left,  rgba(255,255,255,1) 0%, rgba(0,0,0,1) 13%, rgba(255,255,255,1) 25%, rgba(0,0,0,1) 38%, rgba(255,255,255,1) 52%, rgba(0,0,0,1) 65%, rgba(198,198,198,1) 79%, rgba(255,255,255,0) 83%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,1)), color-stop(13%,rgba(0,0,0,1)), color-stop(25%,rgba(255,255,255,1)), color-stop(38%,rgba(0,0,0,1)), color-stop(52%,rgba(255,255,255,1)), color-stop(65%,rgba(0,0,0,1)), color-stop(79%,rgba(198,198,198,1)), color-stop(83%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(0,0,0,1) 13%,rgba(255,255,255,1) 25%,rgba(0,0,0,1) 38%,rgba(255,255,255,1) 52%,rgba(0,0,0,1) 65%,rgba(198,198,198,1) 79%,rgba(255,255,255,0) 83%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(0,0,0,1) 13%,rgba(255,255,255,1) 25%,rgba(0,0,0,1) 38%,rgba(255,255,255,1) 52%,rgba(0,0,0,1) 65%,rgba(198,198,198,1) 79%,rgba(255,255,255,0) 83%); /* Opera 11.10+ */
		background: -ms-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(0,0,0,1) 13%,rgba(255,255,255,1) 25%,rgba(0,0,0,1) 38%,rgba(255,255,255,1) 52%,rgba(0,0,0,1) 65%,rgba(198,198,198,1) 79%,rgba(255,255,255,0) 83%); /* IE10+ */
		background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(0,0,0,1) 13%,rgba(255,255,255,1) 25%,rgba(0,0,0,1) 38%,rgba(255,255,255,1) 52%,rgba(0,0,0,1) 65%,rgba(198,198,198,1) 79%,rgba(255,255,255,0) 83%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */

		background-repeat: no-repeat;
    background-position: left center;
    background-size: 1000% 100%;  
    }
    .e5:hover .zoom {opacity: 1; background-position: right center;}

	.e5 .overlay {
		z-index: 50;
		background: url('../img/e5-liveA.jpg') no-repeat center center;
		}
		.e5:hover .overlay {opacity: 0;}


/* e6 - live */

.e6 {	
	background: url('../img/e6-live.jpg') no-repeat center center;
	position: relative;
	}
	.e6 .bubble,
	.e6 .bubble:before,
	.e6 .bubble:after {
		border: $border;
		background: $color-paper;
		border-radius: 100%;	
		}
		.e6 .bubble {
			position: absolute;
			z-index: 1000;
			padding: $base $base * 2;
			width: 66px;
			text-align: center;
			top: 0;
			right: 0;
			opacity: 0;
			@include prefixer(transition-duration, 0.5s, webkit moz o ms spec);
			}
			.e6:hover .bubble {
				opacity: 1;
				top: $base *-1;
				right: $base * -1;
				}

				.e6 .bubble:before,
				.e6 .bubble:after {
					content: '';
					display: block;
					position: absolute;
					}
				.e6 .bubble:before {
					padding: $base / 3;
					left: $base * 3;
					top: $base * 4.7;
					}
				.e6 .bubble:after {
					padding: $base / 5;
					left: $base * 2;
					top: $base * 5.5;
					}
	
	.e6 .play {position: absolute; z-index: 1; bottom: $base; left: $base; width: 40%;}



/* e7 - live */
.e7 {	
	background: url('../img/e7-live-natural.jpg') no-repeat center center;
	position: relative;
	}
	.e7 .caption {position: relative; top: 60px; width: 50%;}
	.e7 .play {position: absolute; z-index: 10; bottom: $base; left: 12%; width: 72%; margin: 0;}

		.overlay1 {	
			background: url('../img/e7-live-overlay1.jpg') no-repeat center center;
			position: relative;	
			background-size: cover;
			width: 100%; height: 100%;
			opacity: 0;
			@include prefixer(transition-duration, 1s, webkit moz o ms spec);
			}
			.e7:hover .overlay1 {opacity: 1;}
			
			.overlay2 {
				position: absolute;
				top: 0; left: 0; right: 0; bottom: 0;
				background: #fff; 
				width: 100%; height: 100%;
				opacity: 0;
				@include prefixer(transition-duration, 1.15s, webkit moz o ms spec);
				transition-delay: 0.25s !important; 
				}
				.e7:hover .overlay2 {opacity: 1;}
				
				.e7:hover .play,				
				.e7 .play:hover {border-color: $color-black !important;}


/* e8 - teaser */
.e8 {	
	background: url('../img/e8-teaser.jpg') no-repeat center center;
	}
	.e8 .caption,
	.e8 .play {margin: $base auto;}
	
		.e8 .caption-1 {width: 42%;}
		.e8 .caption-2 {width: 35%;}
		.e8 .play {width: 25%}
  
/* background size */ 
.panel,
.e2:hover,
.e3-drawing-top,
.e5 .overlay {background-size: cover;}
