h1 {color: $color-brand_main;}

a {color: $color-black;}


body {background: url('../img/bg/deepwoodtile.jpg') repeat top left;}

		
	.g1, .g2, .g3 {		
		}

	.comic_panel {
		border: $border;
		position: relative;
		margin-bottom: 23px;
		min-height: $base * 26;
		background: $color-caption;
		}
		
	.comic_caption {
		padding: 20px;
		background: $color-caption;
		}
		.comic_caption :last-child {margin-bottom: 0;}
		
		.comic_panel.tall  {min-height:$base * 27;}
		.comic_panel.short {min-height:$base * 19;}

	img {width: 100%;}

	

		

// helpers
	.border-top 		{border-top: 		$border;}
	.border-right 	{border-right: 	$border;}
	.border-bottom 	{border-bottom: $border;}
	.border-left 		{border-left: 	$border;}



/* common */

.index .panel:hover .play {border-color: $color-paper;}
.index .panel .play:hover {background: $color-paper; color: $color-black;}
	


/* e1 */
.e1 {
  position: relative;
  overflow: hidden;
  height: 345px;
  background: transparent;
  -webkit-backface-visibility: hidden;/* prevent graphical glitches in WebKit browsers when using transitions */
  margin-top: -50px;
  }

	.e1 .e1-annie,
	.e1 .e1-blink,
	.e1 .caption,
	.e1 .play {position: absolute;}
	
	.e1 .e1-annie, 
	.e1:hover .e1-annie {@include prefixer(transition-duration, 1s, webkit moz o ms spec);}
	
		.e1 .e1-annie 			{z-index: 10; width: auto; height: 420px; right: -60px; bottom: 0px;}
		.e1:hover .e1-annie {bottom: -100px;}
	
	
	.e1 .e1-blink, 
	.e1:hover .e1-blink {@include prefixer(transition-duration, 1s, webkit moz o ms spec);}
		
		.e1 .e1-blink {z-index: 20; opacity: 0; width: 100%; height: 370px; top: 50px; background: black;}
			.e1:hover .e1-blink {opacity: 1;}
	
	
	.e1 .caption {z-index: 30; width: 25%; margin-top: 73px;}
	
	
	.e1 .play {
		z-index: 40;
		top: 200px; margin: 0;
		left: 33%;
		width: 30%;
		}				

.e1 {border: none; border-bottom: $border; height: 420px;}

.e1 .false-border-top, 
.e1 .false-border-bottom {
	position: absolute;
	display: block;
	border: $border;
	border-bottom: none;
	box-sizing: border-box;
	width: 100%;
	height: 370px; top: 50px;
	}

.e1 .false-border-top {z-index: 5;}

.e1 .false-border-bottom {border-top: none; z-index: 15;}



/* e2 - preview */

.index .e2 {
	height: $base * 15;
	background: url('../img/e2-jon.png') no-repeat center center;
	background-size: cover;
	position: relative;
	}
	.index .e2:hover {
		background: url('../img/e2-jon2.png') no-repeat center center;
		}

.index .e2 .play {
	width: 45%; margin: 23px auto;
	position: relative;
	top: $base * 10;
 	}
 
 .index .e2 .caption-1 {width: 20%; position: absolute; top:0;}

/* e2 - live */


