h1 {color: $color-brand_main;}

a {color: $color-black;}


body {background: url('../img/bg/deepwoodtile.jpg') repeat top left;}

		
	.g1, .g2, .g3 {		
		}

	.comic_panel {
		border: $border;
		position: relative;
		margin-bottom: 23px;
		min-height: 575px;
		background: $color-caption;
		}
		
	.comic_caption {
		padding: 20px;
		background: $color-caption;
		}
		.comic_caption :last-child {margin-bottom: 0;}
		


	img {width: 100%;}

	

		

// helpers
	.border-top 		{border-top: 		$border;}
	.border-right 	{border-right: 	$border;}
	.border-bottom 	{border-bottom: $border;}
	.border-left 		{border-left: 	$border;}

	
/*
	.thought,
	.thought:before,
	.thought:after {
		position: absolute;
		border: $border; 
		background: $color-caption; 
		border-radius: 100px;		
		}

	.thought {
		width: 120px; 
		padding: 20px; 
		text-align: center;
		}
		
	.thought-left 	{top: 205px; left: -225px;}
	.thought-right 	{top: -15px; right: -225px;}
		
		.thought:before,
		.thought:after {
			content: '';
			display: block;
			width: 10px; height: 10px;
			}
			.thought-right:before, 
			.thought-left:before {padding: 10px}
			
			.thought-left:before {top: 20px; right: -20px;}
			.thought-left:after  {top: 10px; right: -40px;}

			.thought-right:before {top: 60px; left: -20px;}
			.thought-right:after  {top: 60px; left: -40px;}
*/


/* e2 */

.e2 {
	height: $base * 10;
	background: url('../img/e2-kat.jpg') no-repeat center left;
	background-size: cover;
	}
